.actor__card {
    width: 200px;
    height: 250px;
    margin: 20px 10px 10px 0;
    box-shadow: 0 0 10px orange;
    transition: all ease 0.5s;

    &:hover {

        transform: translateY(-15px);
        transition: all ease 0.5s;
    }
}
.actor__img {
    padding: 10px;
    margin: 0 auto;
    width: 180px;
    height: 200px;
    object-fit: cover;
}
.name {
    text-align: center;
    color: orange;
}